<div class="corp-card">
    <div class="corp-card-image" ng-style="{'background-image': 'url({{corp.imgUrl}})'}"></div>
    <div class="corp-title">
        {{corp.name}}
    </div>
    <div class="corp-sub-title">
        <span><b>{{corp.ticker}} - </b>{{corp.overall}}</span>
        <span class="percent" ng-class="{'positive': corp.percentColor }">{{corp.transparency_reporting}}</span>
    </div>
    <div class="corp-description">
        {{corp.description}}
    </div>
    <div class="corp-rating">
        <span class="rating-title">Overal Rating:</span>
        <span class="rating-value" ng-class="corp.overalColor">{{corp.overall_rating}}</span>
         
    </div>
    <div class="btn-wrapper">
        <md-button class="md-raised md-primary add-btn" ng-disabled="corp.disabled"  ng-class="{inactive:corp.disabled}" aria-label="Add" ng-click="addToPorfolio(corp)">Add to portfolio</md-button>
    </div>
</div>