<div class="corp-card">
    <div class="corp-card-image" ng-style="{'background-image': 'url(http://placekitten.com/90/90)'}"></div>
    <div class="corp-title">
        {{corp.title}}
    </div>
    <div class="corp-sub-title">
        <span><b>SBUX - </b>{{corp.sbux}}</span>
        <!--<span class="percent" ng-class="vm.isPositive()">-0.52 (-0.93%)</span>-->
        <span class="percent" ng-class="corp.percentClass">{{corp.percent}}</span>
    </div>
    <div class="corp-description">
        {{corp.description}}
    </div>
    <div class="corp-rating">
        <span class="rating-title">Overal Rating:</span>
        <!--<span class="rating-value" ng-class="vm.markColor()">B</span>-->
        <span class="rating-value" ng-class="corp.markClass">{{corp.mark}}</span>
         
    </div>
    <div class="btn-wrapper">
        <md-button class="md-raised md-primary add-btn" aria-label="Add">Add to portfolio</md-button>
    </div>
</div>