<md-card flex="flex" layout="column" flex-gt-sm="50" flex-gt-md="33">
    <md-toolbar style="background-color: #2877be;">
        <div class="md-toolbar-tools">
            <h2><span>Forgot Password</span></h2>
        </div>
    </md-toolbar>
    <md-card-content>
        <form name="Form">
            <p style="font-size:.8em; width: 100%; text-align: center;">{{message}}</p>
            <md-input-container class="md-block">
                <label>email </label>
                <input type="email" name="email" ng-model="email" required ng-disabled="!submitable"/>
                <div ng-messages="Form.email.$error">
                    <div ng-message="required">You must supply an email.</div>
                    <div ng-message="email">Please enter a valid email.</div>
                </div>
            </md-input-container>
            
            <div layout="row" layout-sm="column" layout-align="space-around">
                <md-button ng-show="submitable" type="submit" ng-disabled="!Form.$valid" ng-click="fp.submit()" class="md-raised cusBtn md-primary">&nbsp Submit &nbsp</md-button>
                <md-progress-circular ng-show="loading" md-mode="indeterminate" md-diameter="30" style="top:6px;"></md-progress-circular>
            </div>
        </form>
    </md-card-content>
</md-card>