<section class="heading">
    <div class="info-wrapper">
        <md-button class="md-icon-button" aria-label="Icon">
            <span>My</span><sub>4</sub>
        </md-button>
        <div class="title">Customize your investment profile</div>
        <div class="title-small first">Tell us a bit about the values that you care about most in a company that you invest in.</div>
        <div class="title-small">Build a more sustainable portfolio with tailored recommendations for you.</div>
        <div class="btn-wrapper">
            <md-button class="md-raised md-primary" aria-label="Get started" ng-click="vm.showTabDialog($event)">Get Started</md-button>
            <md-button class="learn-more-btn" aria-label="Learn more">Learn More</md-button>
        </div>
    </div>
    <div class="filter-wrapper">
        <div class="filter-body" layout layout-align="start center">
            <md-select ng-model="vm.filter" placeholder="Filter" class="md-no-underline">
                <md-option value="inc">Inc</md-option>
                <md-option value="corp">Corp</md-option>
                <md-option value="date">Date</md-option>
            </md-select>
            <md-select ng-model="vm.sort" placeholder="Sort" class="md-no-underline">
                <md-option value="name">Name</md-option>
                <md-option value="rating">Rating</md-option>
                <md-option value="price">Price</md-option>
            </md-select>
            <md-button class="md-icon-button more-button" aria-label="More">
                <md-icon md-svg-icon="images/more_vert.svg"></md-icon>
            </md-button>
        </div>
    </div>
</section>
<section class="companies-grid">
    <div class="title">Recommended for You</div>
    <div class="carousel-wrapper">
        <flex-slider animation="slide" animation-loop="false" item-width="298" item-margin="33" slide="corp in vm.corps track by $index">
            <li>
                <bb-corp-card></bb-corp-card>
            </li>
        </flex-slider>
    </div>
    <div class="title">Browse</div>
    <div class="carousel-wrapper">
        <flex-slider animation="slide" animation-loop="false" item-width="298" item-margin="33" slide="corp in vm.corps track by $index">
            <li>
                <bb-corp-card></bb-corp-card>
            </li>
        </flex-slider>
    </div>
</section>