<section class="heading">
    <div class="info-wrapper">
        <md-button class="md-icon-button" aria-label="Icon" flex="none">
            <span>Mi</span><sub>4</sub>
        </md-button>
        <div class="title">Customize your investment profile</div>
        <div class="title-small first">Tell us a bit about the values that you care about most in a company that you invest in.</div>
        <div class="title-small">Build a more sustainable portfolio with tailored recommendations for you.</div>
        <div class="btn-wrapper">
            <md-button class="md-raised md-primary">Get Started</md-button>
            <md-button class="learn-more-btn">Learn More</md-button>
        </div>
    </div>
    <div class="filter-wrapper" layout layout-align="start center">
        <md-select ng-model="vm.filter" placeholder="Filter" class="md-no-underline">
            <md-option value="inc">Inc</md-option>
            <md-option value="corp">Corp</md-option>
            <md-option value="date">Date</md-option>
        </md-select>
        <md-select ng-model="vm.sort" placeholder="Sort" class="md-no-underline">
            <md-option value="name">Name</md-option>
            <md-option value="rating">Rating</md-option>
            <md-option value="price">Price</md-option>
        </md-select>
        <md-button class="md-icon-button more-button" aria-label="More">
            <md-icon md-svg-icon="images/more_vert.svg"></md-icon>
        </md-button>
    </div>
</section>
<section class="companies-grid">
    <div class="title">Recommended for You</div>
    <div class="carousel-wrapper">
        <slick infinite=false slides-to-show=4 slides-to-scroll=1 init-onload=true data="vm.corps"> 
            <div ng-repeat="corp in vm.corps">
                <bb-corp-card></bb-corp-card>
            </div>
        </slick>
    </div>
    <div class="title">Browse</div>
    <div class="carousel-wrapper">
        <slick infinite=false slides-to-show=4 slides-to-scroll=1 init-onload=true data="vm.corps"> 
            <div ng-repeat="corp in vm.corps">
                <bb-corp-card></bb-corp-card>
            </div>
        </slick>
    </div>
</section>