<section class="heading">
    <md-button class="md-icon-button" aria-label="Icon" flex="none">
        <span>Mi</span><sub>4</sub>
    </md-button>
    <div class="title">Customize your investment profile</div>
    <div class="title-small first">Tell us a bit abou the values that you care about most in a company that you invest in.</div>
    <div class="title-small">Build a more sustainable portfolio with tailored recommendations for you.</div>
    <div class="btn-wrapper">
        <md-button class="md-raised md-primary">Get Started</md-button>
        <md-button class="learn-more-btn">Learn More</md-button>
    </div>
   
</section>