html,
body {
  @include montserrat-font;
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: $background-color;
  color: $general-text-color;
}

.portfilio .md-sidenav-left .side-content .sidenav-corp-list .sidenav-corp-card .card-content .rating .symbol{
  font-size: 14px !important;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.md-dialog-container {
  z-index: 222;
}

.md-icon-button.md-button.md-ink-ripple {
  font-family: 'Comfortaa', cursive;
}