$font-size: 13px;
$line-height: 1.4;
$lines-to-show: 2;
.corp-card {
    @include corp-card-box(298px, 44px);
    display: inline-block;
    .corp-title {
        @include montserrat-font-size(20px);
        line-height: 1.5;
        margin-top: 25px;
    }
    .corp-sub-title {
        @include open-sans-font-size(15px);
        font-style: italic;
        margin-bottom: 40px;
        .percent {
            color: $negative-color;
            &.positive {
                color: $positive-color;
            }
        }
    }
    .corp-description {
        @include open-sans-font;
        display: block;
        display: -webkit-box;
        max-height: $font-size*$line-height*$lines-to-show;
        margin-bottom: 22px;
        padding-left: 37px;
        padding-right: 37px;
        line-height: $line-height;
        color: $text-color;
        -webkit-line-clamp: $lines-to-show;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .corp-rating {
        color: $rating-color;
        .rating-value {
            @include montserrat-font-size(16px);
            &.excellent {
                color: $excellent-mark-color;
            }
            &.acceptable {
                color: $acceptable-mark-color;
            }
            &.failing {
                color: $failing-mark-color;
            }
        }
    }
    .btn-wrapper {
        padding-left: 17px;
        padding-right: 17px;
        .add-btn {
            @include accept-button;
            width: 100%;
            margin-top: 27px;
            margin-bottom: 22px;
            margin-left: 0;
            margin-right: 0;
        }
    }

    .inactive{
        opacity: 0.65;
    }
    
}