.main-header {
    md-toolbar {
        min-height: 80px;
        background-color: white;
        .md-toolbar-tools {
            height: 80px;
            max-height: 80px;
            .md-icon-button {
                height: 80px;
                width: 80px;
                margin-left: -16px;
                background-color: $main-button-color;
                border-radius: 0;
                color: white;
                span {
                    font-size: 22px;
                    text-transform: none; 
                }
                sub {
                    font-size: 16px;
                    display: inline-block;
                    // margin-left: -2px;
                }
                &:hover {
                    background-color: $main-button-color;
                }
            }
            .desktop-nav {
                width: 100%;
                .nav-list {
                    li {
                        float: left;
                        padding: 0 44px 0 0;
                        & > a.nav-tab {
                            font-size: 11px;
                            color: $general-text-color;
                            vertical-align: middle;
                            text-transform: uppercase;
                            letter-spacing: 1px;
                        }
                    }
                }
            }
            .search-wrapper {
                form.search-form {
                    border-left-width: 2px;
                    border-color: #eee;
                    border-left-style: solid;
                    padding-left: 40px;
                    .fa.fa-search {
                        font-size: 14px;
                        color: $icon-color;
                    }
                    md-autocomplete {
                        height: 80px;
                        md-autocomplete-wrap {
                            height: 80px;
                            box-shadow: none;
                            input:not(.md-input) {
                                height: 80px;
                                font-family: Open Sans;
                                font-size: 13px;
                                font-style: italic;
                            }
                        }
                        
                        
                    }

                }
            }
            .profile-info {
                height: 30px;
                text-align: right;
                .info-icon {
                    width: 18px;
                    margin-left: 40px;
                }
                .profile-img {
                    margin-left: 40px;
                    img {
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                    }
                }
            }
        }
    }
}