.portfolio-corp-card {
    position: absolute;
    max-width: 620px;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-top: 54px;
    padding-top: 41px;
    text-align: center;
    background: white;
    border-radius: 6px;
    box-shadow: $container-shadow;
    .corp-card-image {
        @include corp-card-image;
    }
    .corp-title {
        @include montserrat-font-size(20px);
        line-height: 1.5;
        margin-top: 25px;
    }
    .corp-sub-title {
        @include open-sans-font-size(15px);
        font-style: italic;
        margin-bottom: 40px;
        .percent {
            color: $negative-color;
            &.positive {
                color: $positive-color;
            }
        }
    }
    .btn-wrapper {
        padding: 0 40px;
        .md-button {
            @include accept-button;
            width: 100%;
            max-width: 250px;
            margin: 6px 0;
            &.share-btn {
                border: $border-btn-color 2px solid;
                span {
                    color: $text-color;
                }
            }
        }
    }
    .rating-wrapper {
        margin-top: 30px;
        margin-bottom: 34px;
        .rating {
            &:not(:last-child) {
                border-right: $border-btn-color 2px solid;
            }
            .symbol {
                @include montserrat-font-size(40px);
                color: $excellent-mark-color;
            }
            .title {
                @include montserrat-font-size(14px);
                color: $rating-color;
            }
        }
        .general-rating {
            margin-bottom: 48px;
        }
        .second-rating {
            .rating {
                .symbol {
                    @include montserrat-font-size(21px);
                }
                .title {
                    @include montserrat-font-size(12px);
                }
            }
            
        }
    }
}