$background-color: #f4f1ea;
$general-text-color: #37394C;
$container-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.1);
$a-color: #51C7A1;
$b-color: #519ac7;
$c-color:#ea9231;
$d-color:#da5e5e;
$filter-btn-color: #cfcbc0;;
$main-button-color: #2877be;
$line-color: #64A3FC;
$icon-color: #37394C;
$title-color: #a9aaac;
$rating-color: #CFCFCF;
$positive-color: #3FB084;
$excellent-mark-color: #51C7A1;
$acceptable-mark-color: #DCBF22;
$failing-mark-color: #EA6718;
$negative-color: #B03F40;
$text-color: #999999;
$title-color: #414355;
$range-color: #e6e8ed;
$range-label-color: #d9dce3;
$disabled-tab-color: #CCD0D9;
$description-section-color: rgba(204, 208, 217, 0.5);
$learn-more-border-color: rgba(255, 255, 255, 0.5);
$border-btn-color: #f0f0f0;
$graph-line-color: #7396e5;
$negative-percent-color: #e92c29;
$link-color: #ccc;
$close-button-color: rgba(239, 236, 236, 0.69);
$info-point-color: #ffbb41;