$mobile-width-xs: 320px;
$mobile-width-sm: 480px;
$mobile-width-md: 620px;

.a-color {
    color: $a-color;
}
.b-color {
    color: $b-color;
}
.c-color {
    color: $c-color;
}
.d-color {
    color: $d-color;
}