.companies-dialog {
    width: 682px;
    min-height: 600px;
    .companies-content {
        max-width:800px;
        max-height:810px;
        md-tabs-canvas {
            height: 127px;
            margin-left: 40px;
            md-pagination-wrapper {
                height: 127px;
                width: 100% !important;
                md-tab-item.md-tab {
                    padding: 0;
                    padding-top: 38px;
                    margin-right: -10px;
                    .label-wrapper {
                        float: left;
                        .md-icon-button {
                            padding: 0;
                            box-shadow: none;
                            background-color: $main-button-color;
                            border: none;
                            &:hover {
                                background-color: $main-button-color;
                            }
                            span, i {
                                color: white;
                            }
                            .not-checked {
                                @include montserrat-font-size(11px);
                            }
                        }
                    }
                    .line {
                        display: inline-block;
                        height: 3px;
                        width: 120px;
                        margin-left: -10px;
                        margin-top: 18px;
                        opacity: 0.7;
                        background-color: $disabled-tab-color;
                        box-shadow: 0 0 1px 0 $disabled-tab-color;
                        &.is-done {
                            opacity: 1;
                            background-color: $line-color;
                            box-shadow: 0 0 1px 0 $line-color;
                        }
                    }
                    .tab-name {
                        @include montserrat-font-size(10px);
                        color: $main-button-color;
                        text-align: center;
                    }
                    .md-ripple-container {
                        display: none;
                    }
                    &.md-active {
                        color: $main-button-color;
                        .label-wrapper {
                            .md-icon-button {
                                background-color: $main-button-color;
                                border: none;
                                &:hover {
                                    background-color: $main-button-color;
                                }
                                span, i {
                                    color: white;
                                }
                            }
                        }
                        .tab-name {
                            color: $main-button-color;
                        }
                    }
                    &.md-disabled {
                        color: $disabled-tab-color;
                        opacity: 0.7;
                        .label-wrapper {
                            .md-icon-button {
                                background-color: transparent;
                                border: $disabled-tab-color 3px solid;
                                &:hover {
                                    background-color: transparent;
                                }
                                span, i {
                                    color: $disabled-tab-color;
                                }
                            }
                        }
                        .tab-name {
                            color: $disabled-tab-color;
                        }
                    }
                }
                md-ink-bar {
                    display: none;
                }
            }
        }
        .section-container {
            padding: 0 78px;
            background-color: white;
            .question-title {
                margin-top: 50px;
                margin-bottom: 15px;
                span {
                    @include montserrat-font-size(20px);
                    color: $title-color;
                }
            }
            .question {
                max-width: 335px;
                margin-bottom: 53px;
                line-height: 20px;
                span {
                    @include open-sans-font;
                    color: $text-color;
                }
            }
            .sliders-wrapper {
                @include montserrat-font;
                color: $text-color;
                text-transform: uppercase;
                .slider-body {
                    .slider-name {

                    }
                    .slider-range {
                        i.fa.fa-circle-o {
                            font-size: 16px;
                            position: absolute;
                            padding: 0;
                            margin: 0;
                            margin-top: 4px;
                            border-radius: 50%;
                            background-color: white;
                            outline: none;
                            &.start {
                                min-width: 13px;
                                left: 75px;
                                color: $main-button-color;
                                z-index: 5;
                            }
                            &.end {
                                right: 64px;
                                color: $range-color;
                            }
                        }
                        .md-track {
                            background-color: $range-color;
                            &.md-track-fill {
                                background-color: $main-button-color;
                            }
                        }
                        
                       
                        .md-thumb-container {
                            z-index: 5;
                            .md-thumb:after {
                                border-color: $main-button-color;
                                background-color: $main-button-color;
                            }
                        }
                        
                    }
                }
            }
        }
    }
}