.companies-dialog {
    .companies-content {
        max-width:800px;
        max-height:810px;
        md-tabs-canvas {
            height: 127px;
            margin-left: 40px;
            md-pagination-wrapper {
                height: 127px;
                width: 100% !important;
                md-tab-item.md-tab {
                    padding: 0;
                    padding-top: 38px;
                    margin-right: -10px;
                    .label-wrapper {
                        float: left;
                        .md-icon-button {
                            padding: 0;
                            box-shadow: none;
                            background-color: transparent;
                            border: $disabled-tab-color 3px solid;
                            &:hover {
                                background-color: transparent;
                            }
                            span, i {
                                color: $disabled-tab-color;
                            }
                            .not-checked {
                                @include montserrat-font-size(11px);
                            }
                        }
                    }
                    .line {
                        display: inline-block;
                        height: 3px;
                        width: 137px;
                        margin-left: -10px;
                        margin-top: 18px;
                        background-color: $line-color;
                        box-shadow: 0 0 1px 0 $line-color;
                    }
                    .tab-name {
                        @include montserrat-font-size(10px);
                        color: $disabled-tab-color;
                        text-align: center;
                    }
                    .md-ripple-container {
                        display: none;
                    }
                    &.md-active {
                        color: $main-button-color;
                        .label-wrapper {
                            .md-icon-button {
                                background-color: $main-button-color;
                                border: none;
                                &:hover {
                                    background-color: $main-button-color;
                                }
                                span, i {
                                    color: white;
                                }
                            }
                        }
                        .tab-name {
                            color: $main-button-color;
                        }
                    }
                }
                md-ink-bar {
                    display: none;
                }
            }
        }
    }
}