.heading {
    margin-bottom: 50px;
    box-shadow: $container-shadow;
    .info-wrapper {
        padding-top: 67px;
        padding-bottom: 63px;
        padding-left: 15px;
        padding-right: 15px;
        text-align: center;
        color: white;
        background: url('/images/get-started-bgd.png') 0 45% no-repeat;
        background-size: cover;
        .md-icon-button {
            height: 66px;
            width: 66px;
            border: white 3px solid;
            border-radius: 0;
            color: white;
            span {
                @include montserrat-font-size(22px);
                text-transform: none; 
            }
            sup {
                @include montserrat-font-size(16px);
                display: inline-block;
            }
        }
        .title {
            @include montserrat-font-size-weight(20px, normal);
            margin-top: 22px;
        }
        .title-small {
            @include open-sans-font-size-weight(13px, normal);
            margin: 0 auto;
            &.first {
                margin-top: 13px;
            }
        }
        .btn-wrapper {
            margin-top: 30px;
            .md-button {
                @include accept-button;
                &.learn-more-btn {
                    border: rgba(158,158,158,0.2) 2px solid;
                }
            }
        }
    }
    .filter-wrapper {
        @include montserrat-font;
        padding-left: 126px;
        background: white;
        md-select {
            margin: 25.5px 0 25.5px 0;
            .md-select-value {
                color: $filter-btn-color;
                .md-select-placeholder {
                    display: inline-block;
                }
                & > span:not(.md-select-icon) {
                    flex: none;
                }
                .md-select-icon {
                    display: inline-block;
                    width: 32px;
                    margin: 0 8px;
                    text-align: start;    
                    transform: none;
                    &:after {
                        content: "\f078";
                        font: normal normal normal 11px/1 FontAwesome;
                        -webkit-transform: none;         
                        transform: none;
                    }
                }
                
            }
        }
        .more-button {
            margin: auto 0;
            margin-left: 20px;
            md-icon {
                color: $filter-btn-color;
                transform: rotate(90deg);
            }
            
        }
        @media (max-width: $mobile-width-md) {
            padding-left: 0;
            text-align: center;
            .filter-body {
                display: -webkit-inline-flex;
                display: inline-flex;
            }
        }
    }
}
.companies-grid {
    // padding-left: 72px;
    .title {
        @include open-sans-font-size(24px);
        margin-left: 10px;
        margin-bottom: 27px;
        padding-left: 72px;
        color: $title-color;
    }
    .flexslider {
        margin: 0;
        padding-left: 72px;
        background: none;
        border: none;
        overflow: hidden;
        .flex-viewport {
            overflow: visible !important;
        }
        .flex-control-nav {
            display: none;
        }
    }
    @media (max-width: $mobile-width-md) {
        padding-left: 20px;
         @media (max-width: $mobile-width-xs) {
            padding-left: 7px;
        }

    }
}