<div class="portfolio-corp-finance">
    <div class="finance-title">Financial Data</div>
    <div class="persent-box">
        <span class="general">39.01</span>
        <span class="second">-0.15 (-0.37%)</span>
        <div class="date-info">As of 1:21 PM EDT. Market open.</div>
    </div>
    <div class="finance-table" layout="row">
        <div class="table-box first">
            <table>
                <tr>
                    <th class="property">Open</th>
                    <th class="value">39.02</th>
                </tr>
                <tr>
                    <th class="property">Prev Close</th>
                    <th class="value">39.16</th>
                </tr>
                <tr>
                    <th class="property">Bid</th>
                    <th class="value">38.99 x 1500</th>
                </tr>
                <tr>
                    <th class="property">Ask</th>
                    <th class="value">39.00 x 400</th>
                </tr>
                <tr>
                    <th class="property">Day's Range</th>
                    <th class="value">38.83 - 39.42</th>
                </tr>
                <tr>
                    <th class="property">52wk Range</th>
                    <th class="value">33.96 - 51.34</th>
                </tr>
                <tr>
                    <th class="property">1y Target Est</th>
                    <th class="value">48.25</th>
                </tr>
            </table>
        </div>
        <div class="table-box">
            <table>
                <tr>
                    <th class="property">Market Cap</th>
                    <th class="value">24.2B</th>
                </tr>
                <tr>
                    <th class="property">P/E Ratio (ttm)</th>
                    <th class="value">10.35</th>
                </tr>
                <tr>
                    <th class="property">Beta</th>
                    <th class="value">1.04</th>
                </tr>
                <tr>
                    <th class="property">Volume</th>
                    <th class="value">2,414,078</th>
                </tr>
                <tr>
                    <th class="property">Avg Vol (3m)</th>
                    <th class="value">7,080,296</th>
                </tr>
                <tr>
                    <th class="property">Dividend & Yield</th>
                    <th class="value">0.40 (1.03%)</th>
                </tr>
                <tr>
                    <th class="property">Earnings Date</th>
                    <th class="value">Oct 26, 2016</th>
                </tr>
            </table>
        </div>
        <div class="finance-graph">
            <img src="/images/finance.png" alt="">
        </div>
    </div>
</div>