<div class="portfolio-corp-details" layout="row">
    <div class="title-box">
       <div class="details-title">Sustainability Details</div>
        <i class="fa fa-paperclip" aria-hidden="true"></i>
        <div class="link-text">Download report</div> 
    </div>
    <span flex></span>
    <div class="download-report" layout="row">
        <div class="video-box" ng-click="vm.showVideo($event)">
            <div class="video-poster" layout="row" layout-align="center" ng-style="{'background-image': 'url(http://www.zastavki.com/pictures/originals/2015/Games_Poster_Video_Game_Destiny_101197_.jpg)'}">
                <img src="/images/play-button.png" alt="play">
            </div>
        </div>
        
    </div>
</div>