<div class="portfolio-corp-card" flex>
    <div class="corp-card-image" ng-style="{'background-image': 'url(http://placekitten.com/90/90)'}"></div>
    <div class="corp-title">
        Starbucks Corporation
    </div>
    <div class="corp-sub-title">
        <span><b>SBUX - </b>$55.80</span>
        <span class="percent positive">-0.52 (-0.93%)</span>
    </div>
    <div class="btn-wrapper" layout="row"  layout-align="space-between center">
        <md-button class="md-primary md-raised back-btn" aria-label="Back"><span>Add to portfolio</span></md-button>
        <!--<span flex></span>-->
        <md-button class="share-btn" aria-label="Share" ng-click="vm.toggleLeft()"><span>Share</span></md-button>
    </div>
</div>