<div class="portfolio-corp-card" flex>
    <div class="corp-card-image" ng-style="{'background-image': vm.getCurrentImage()}" ></div>
    <div class="corp-title">
        {{vm.currentCorp.name}}
    </div>
    <div class="corp-sub-title">
        <span><b>{{vm.currentCorp.nyse}} - </b>{{vm.currentCorp.product}}</span>
        <span class="percent" ng-class="{'positive': vm.currentCorp.percentColor }">{{vm.currentCorp.transparency_reporting}}</span>
    </div>
    <div class="btn-wrapper" layout="row"  layout-align="space-between center" layout-xs="column">
        <md-button class="md-raised md-primary add-btn" ng-if="!vm.currentCorp.disabled"   aria-label="Add" ng-click="addToPorfolio(vm.currentCorp)">Add to portfolio</md-button>
        <md-button class="md-raised md-primary add-btn" ng-if="vm.currentCorp.disabled" style="background-color:#9A4B4B; "  aria-label="Add" ng-click="vm.removeFromPorfolio(vm.currentCorp)">Remove from portfolio</md-button>

        <md-button class="share-btn" aria-label="Share" ng-click="vm.toggleLeft()"><span>Share</span></md-button>
    </div>
    <div class="rating-wrapper">
        <div class="general-rating" layout="row">
            <div class="overal rating" flex>
                <div class="symbol" ng-class="vm.currentCorp.overalColor">{{vm.currentCorp.overall_rating}}</div>
                <div class="title">Overall Rating</div>
            </div>
            <div class="personal rating" flex>
                <div class="symbol" ng-class="vm.currentCorp.personalColor">{{vm.currentCorp.personal_values}}</div>
                <div class="title">Personal Values Matching Score</div>
            </div>
        </div>
        <div class="second-rating" layout="row">
            <div class="community rating" flex>
                <div class="symbol" ng-class="vm.currentCorp.communityColor">{{vm.currentCorp.community}}</div>
                <div class="title">Community</div>
            </div>
            <div class="employees rating" flex>
                <div class="symbol" ng-class="vm.currentCorp.employmentColor">{{vm.currentCorp.employees}}</div>
                <div class="title">Employees</div>
            </div>
            <div class="environment rating" flex>
                <div class="symbol" ng-class="vm.currentCorp.environmentColor">{{vm.currentCorp.environment}}</div>
                <div class="title">Environment</div>
            </div>
            <div class="governance rating" flex>
                <div class="symbol" ng-class="vm.currentCorp.governanceColor">{{vm.currentCorp.governance}}</div>
                <div class="title">Governance</div>
            </div>
        </div>
    </div>
</div>