<section class="portfilio" layout="row" flex>
    <md-sidenav layout="column" class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')" md-whiteframe="4">
        <md-content class="side-content">
            <div class="sidenav-corp-list">
                    <!--<div class="card-image" ng-style="{'background-image': 'url({{corp.imgUrl}})'}"></div>-->
                    <img class="card-image" ng-src="{{corp.imgUrl}}" alt="img" set-height>
                        <div class="title">
                            <span class="general">{{corp.title}}</span>
                            <span class="nyse"> ({{corp.nyse}})</span>
                        </div>
                        <div class="description">
                            {{corp.description}}
                        </div>
                        <div class="rating" layout="row">
                            <div class="overal">
                                <span class="text">Overal Rating: </span>
                                <span class="symbol" ng-class="corp.overalColor" ng-style="{'border-color': corp.overalColor}">{{corp.overalMark}}</span>
                            </div>
                            <div class="personal">
                                <span class="text">Personal Values Match:</span>
                                <span class="symbol" ng-class="corp.personalColor">{{corp.personalMark}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </md-content>
    </md-sidenav>
    <md-content class="portfolio-content" layout="column" flex>
        <div class="sidenav-arrow" layout="row" layout-align="center center" ng-click="vm.toggleLeft()">
            <i class="fa fa-arrow-left" ng-if="vm.isSideNavOpen"></i>
            <i class="fa fa-arrow-right" ng-if="!vm.isSideNavOpen"></i>
        </div>
        <div layout-align="start center">
            <div class="blue-bgd"></div>
            <bb-portfolio-corp-card></bb-portfolio-corp-card>
            <bb-portfolio-corp-overview></bb-portfolio-corp-overview>
            <bb-portfolio-corp-rating></bb-portfolio-corp-rating>
            <bb-portfolio-corp-finance></bb-portfolio-corp-finance>
            <bb-portfolio-corp-details></bb-portfolio-corp-details>
        </div>
    </md-content>
</section>