<div class="portfolio-corp-rating">
    <div class="rating-title">CSR Rating History</div>
    <div class="chart-box">
        <canvas id="line" height="100" class="chart chart-line" chart-data="vm.chartData" chart-labels="vm.chartLabels" chart-series="vm.chartSeries" chart-options="vm.chartOptions" chart-dataset-override="vm.datasetOverride"></canvas>
    </div>
    <hr>
    <div class="rating-legend-box" layout="row">
        <div class="legend" layout="row" layout-align="start center">
            <span class="company-line"></span><span class="text">This company</span>
        </div>
        <div class="legend" layout="row" layout-align="start center">
            <span class="average-line"></span><span class="text">Avg.</span>
        </div>
        <span flex></span>
        <div class="affect-box" layout="row">
            <img src="/images/icons.jpg" alt="">
            <div>* 2 Special Issues Affect this Company</div>
        </div>
    </div>
</div>