<div class="portfolio-corp-overview">
    <div class="overview-title">Company Overview</div>
    <div class="overview-description">
        {{vm.currentCorp.description}}

    </div>
    <div class="overview-properties">
        <div class="property">
            <div class="name">Sector</div>
            <div class="value">{{vm.currentCorp.industries[0]}}</div>
        </div>
        <div class="property">
            <div class="name">CSRHub</div>
            <div class="value">{{vm.currentCorp.board}}
            </div>
        </div>
        <div class="property">
            <div class="name">Exchange</div>
            <div class="value">NYCE (LUV)</div>
        </div>
        <div class="property">
            <div class="name">The Street</div>
            <div class="value">{{vm.currentCorp.address}}</div>
        </div>
        <div class="property">
            <div class="name">Website</div>
            <div class="value">{{vm.currentCorp.website}}</div>
        </div>
        <div class="property">
            <div class="name">CSRHub</div>
            <div class="value">{{vm.currentCorp.overall}}</div>
        </div>
        <div class="property">
            <div class="name">Glassdoor</div>
            <div class="value">4.1</div>
        </div>
        <!--<div class="property">-->
            <!--<div class="name">The Street</div>-->
            <!--<div class="value">Buy B+</div>-->
        <!--</div>-->
    </div>
</div>