<div class="portfolio-corp-details">
    <div layout="row">
        <div class="title-box">
            <div class="details-title">Sustainability Details</div>
            <i class="fa fa-paperclip" aria-hidden="true"></i>
            <div class="link-text">Download report</div>
        </div>
        <span flex></span>
        <div class="download-report" layout="row">
            <div class="video-box" ng-click="vm.showVideo($event)">
                <!--<div class="video-poster" layout="row" layout-align="center" ng-style="{'background-image': 'url(http://localhost:2020{{vm.currentCorp.imgUrl}})'}">-->
                <div class="video-poster" layout="row" layout-align="center" ng-style="{'background-image': vm.getCurrentImage()}">
                    <img src="/images/play-button.png" alt="play">
                </div>
            </div>
        </div>
    </div>
    <div class="corp-info-box">
        <div class="info-body" ng-repeat="info in vm.currentCorp.info">
            <div class="title-box" layout="row" layout-align=" start center">
                <i class="fa fa-circle" aria-hidden="true"></i>
                <div class="title">{{info.title}}</div>
            </div>
            <div class="description-box" ng-class="{'last-box': $index == vm.currentCorp.info.length - 1}">
                <div class="description">{{info.text}}</div>
            </div>
        </div>
    </div>
</div>