<div class="portfolio-corp-overview">
    <div class="overview-title">Company Overview</div>
    <div class="overview-description">
        {{vm.currentCorp.description}}

    </div>
    <div class="overview-properties">
        <div class="property">
            <div class="name">Sector</div>
            <div class="value">{{vm.currentCorp.industries[0]}}</div>
        </div>
        <div class="property">
            <div class="name">My4 Score</div>
            <div class="value">{{vm.currentCorp.personal_values}}
            </div>
        </div>
        <div class="property">
            <div class="name">Exchange</div>
            <div class="value">{{vm.currentCorp.xignite_primary_market}}</div>
        </div>
        <div class="property">
            <div class="name">Region</div>
            <div class="value">{{vm.currentCorp.region}}</div>
        </div>
        <div class="property truncate">
            <div class="name">Website</div>

            <a   ng-href="http://{{vm.currentCorp.website}}" target="_blank" class="value">{{vm.currentCorp.website}}</a>
        </div>
        <!--<div class="property">-->
            <!--<div class="name">Glassdoor</div>-->
            <!--<div class="value">4.1</div>-->
        <!--</div>-->
        <!--<div class="property">-->
            <!--<div class="name">The Street</div>-->
            <!--<div class="value">Buy B+</div>-->
        <!--</div>-->
    </div>
</div>